<h1>{{subtitle}}</h1>
<br>
<h3 id="error">{{{message}}}</h3>
<br>
<form action="{{action}}" method="post">
    <p><b>Managers</b> <button type="button" id="toggleManagers" class="btn btn-sm">+</button></p>
    <div id="managers" class="form-group">
        {{#each managers}}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="manager{{@index}}" value="{{username}}">
                <label class="form-check-label" for="manager{{@index}}">
                    {{firstName}} {{lastName}}
                </label>
            </div>
        {{/each}}
    </div>
    <br>
    <p><b>Dates</b></p>
    <div class="form-group">
        <label for="start-date">Start Date</label>
        <input type="date" id="start-date" name="start-date" class="form-control">
        <br>
        <label for="end-date">End Date</label>
        <input type="date" id="end-date" name="end-date" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label for="talk"><b>Talking Points</b></label>
        <textarea class="form-control" name="talk" id='talk' rows="6"></textarea>
    </div>
    <br>
    <p><b>Questionnaire</b></p>
    <div id="questions">
    </div>
    <br>
    <p>Add a Question <button type="button" id="addQuestion" class="btn btn-sm">+</button></p>
    <br>
    <div class="form-group" id="visit">
        <label for="duration"><b>Visit Duration</b></label>
        <input type="text" name="duration" id="duration" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label for="location"><b>Locations</b></label>
        <textarea class="form-control" name="location" id="location" rows="12"></textarea>
    </div>
    <br>
    <p><b>Canvassers</b> <button type="button" id="toggleCanvassers" class="btn btn-sm">+</button></p>
    <div id="canvassers" class="form-group">
        {{#each canvassers}}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="canvasser{{@index}}" value="{{username}}">
                <label class="form-check-label" for="canvasser{{@index}}">
                    {{firstName}} {{lastName}}
                </label>
            </div>
        {{/each}}
    </div>
    <br>
    <div id="original-campaign-container">
        <input type="text" name="original-campaign" id="original-campaign" value="{{campaign}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/scripts/addCampaign.js"></script>
<link rel='stylesheet' href='/stylesheets/addCampaign.css'/>
{{#if editCampaign}}
    <script src="/scripts/editCampaign.js"></script>
{{/if}}
