<h1>Campaign {{campaign.id}}</h1>
{{#if edit}}
    <br>
    <a href="/editCampaign/{{campaign.id}}">Edit Campaign</a>
    <br>
{{/if}}
<br>
<p><b>Managers: </b></p>
<ul>
    {{#each campaign.managers}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p><b>Start Date: </b> {{campaign.startDate}}</p>
<p><b>End Date: </b> {{campaign.endDate}}</p>
<p><b>Talking Points: </b></p>
<p>
    {{#each campaign.talk}}
        {{this}}<br>
    {{/each}}
</p>
<p><b>Questionnaire: </b></p>
<ol>
    {{#each campaign.questions}}
        <li>{{this}}</li>
    {{/each}}
</ol>
<p><b>Visit Duration: </b> {{campaign.duration}}</p>
<p><b>Locations: </b></p>
<ul id="locations">
    {{#each campaign.locations}}
        <li>{{number}}, {{street}}, {{unit}}, {{city}}, {{state}}, {{zip}}</li>
    {{/each}}
</ul>
<p><b>Canvassers: </b></p>
<ul>
    {{#each campaign.canvassers}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<div id="map"></div>
<link rel='stylesheet' href='/stylesheets/campaign.css'/>
<script src="/scripts/campaignMap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIMd_lgKT8jSNhU6h-wDl2mu6ekkYMvGc&callback=initMap"></script>
